<nav class="navbar navbar-expand-md navbar-dark bg-secondary" th:fragment="nav-front">
    <a class="navbar-brand" href="/">CMS ShoppingCart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" th:each="page: ${cpages}"  th:if="${page.slug != 'home'}">
                <a class="nav-link" th:href="@{'/' + ${page.slug}}" th:text="${page.title}"></a>
            </li>
        </ul>

        <ul class="float-right navbar-nav" th:if="${principal == null}">
            <li class="nav-item active">
                <a th:href="@{/register}" class="nav-link">Register</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/login}" class="nav-link">Login</a>
            </li>
        </ul>

        <form th:if="${principal != null}" method="post" th:action="@{/logout}">
            <span class="text-white" th:text="${'Hi, ' + principal}"></span>
            <button class="btn btn-secondary">Logout</button>
        </form>

    </div>
</nav>